@font-face {
  font-family: "Figtree";
  src: url("/fonts/figtree.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space";
  src: url("/fonts/space-grotesk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("/fonts/HelveticaNeueRoman.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/fonts/HelveticaNeueMedium.otf");

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}
@import "../pages/Homerun/Homerun";
